.banner-principal-decorativo
  &-1
    max-width: 65px
    animation: float1 3.6s ease-in-out infinite alternate
    position: absolute
    top: 62%
    right: 24%
  &-2
    max-width: 80px
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 53%
    right: 78%
  &-3
    max-width: 60px
    animation: float1 3.2s ease-in-out infinite alternate
    position: absolute
    top: 14%
    right: 19%
  &-4
    max-width: 130px
    animation: scale1 3.2s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 43%
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
@keyframes scale1
  0%
    transform: scale(0.9)
  100%
    transform: scale(1)

.banner-principal__row .banner-principal__img
  max-width: 400px !important  
.banner-interno__titulo__icono i
  color: $color-primario
figcaption, table caption
  font-weight: normal 


.fa-lista
  li
    display: flex !important
    align-items: flex-start
  li:before
    position: relative
    margin-right: 7px
    font-size: 1.4rem 
.lista-ul--color.color-primario li > i:first-of-type  
  color: $color-primario
.lista-ul--color.color-secundario li > i:first-of-type  
  color: $color-secundario       
.lista-ol--cuadro.color-primario .lista-ol--cuadro__vineta
  background-color: $color-primario
.bg-color-acento-contenido
  background-color: $color-acento-contenido
.bg-color-primario
  background-color: $color-primario
.bg-color-secundario
  background-color: $color-secundario
.bg-color-sistema-texto
  background-color: $color-sistema-texto
.text-color-sistema
  color: $color-sistema-texto !important
.bg-color-adicional-1
  background-color: $color-adicional-1
.ct-color-primario
  color: $color-primario
.w-fit
  width: fit-content
.columns-2
  columns: 2
.tc-sec 
  color: $color-secundario !important
.tc-ac 
  color: $color-acento-contenido !important
.font-italic
  font-style: italic !important
.sin-borde
  border: 0px !important


.bg-1
  background-color: #E5FBEE
.bg-2
  background-color: #9EB6E1 !important
.bg-3
  background-color: #FFE7B9
.bg-4
  background-color: #E6ECF8
.bg-5
  background-color: #F1F7FF
.bg-6
  background-color: #C7DDFD
.bg-7
  background-color: #FFF7E7


.w-70
  width: 70px

tbody.text-start td
  text-align: left !important
.cajon-b.color-secundario:before 
  background-color: #E6ECF8
  opacity: 1
